
@{
    ViewBag.Title = "Services";
}

<section class="services-bg">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="page-header-title text-center text-white">
                    <h1 class="font-weight-light">Services</h1>
                    <div>
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="#">Joobsy</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active">Services</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- SERVICE START -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-muted mb-4 f-17">Aliquam lorem ante dapibus in viverra quis feugiat a tellus phasellus viverra nulla ut metus varius laoreet quisque rutrum aenean imperdiet etiam ultricies nisi vel augue curabitur ullamcorper ultricies nisinam eget dui etiam rhoncus maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet neque sed ipsum.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="services-box mt-4">
                    <div class="service-icon mb-3">
                        <i class="mdi mdi-account-multiple h1"></i>
                    </div>
                    <div class="services-desc">
                        <h5 class="mb-2 font-weight-light"><a href="#" class="text-dark">Awesome Support</a></h5>
                        <p class="text-muted f-14">Aenean leo ligula porttitor eu consequat vitae eleifend enim liquam lorem ante dapibus in viverra feugia hasellus viverra at metus.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-box mt-4">
                    <div class="service-icon mb-3">
                        <i class="mdi mdi-image-filter-tilt-shift h1"></i>
                    </div>
                    <div class="services-desc">
                        <h5 class="mb-2 font-weight-light"><a href="#" class="text-dark">Goal Business</a></h5>
                        <p class="text-muted f-14">Integer ante arcu accumsan a consectetuer posuere ut mauris praesent adipiscing phasellus ullamcorper ipsum rutrum nunc.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-box mt-4">
                    <div class="service-icon mb-3">
                        <i class="mdi mdi-ungroup h1"></i>
                    </div>
                    <div class="services-desc">
                        <h5 class="mb-2 font-weight-light"><a href="#" class="text-dark">Branding Identity</a></h5>
                        <p class="text-muted f-14">Donec pede justo fringilla vel aliquet at vulputate eget arcu In enim justo rhoncus ut imperdiet a venenatis vitae justo.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-box mt-4">
                    <div class="service-icon mb-3">
                        <i class="mdi mdi-invert-colors h1"></i>
                    </div>
                    <div class="services-desc">
                        <h5 class="mb-2 font-weight-light"><a href="#" class="text-dark">Solutions Business</a></h5>
                        <p class="text-muted f-14">Vestibulum rutrum nec elementum vehicula eros quam gravida nisl id fringilla neque ante vel mi Morbi mollis tellus ac sapien.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-box mt-4">
                    <div class="service-icon mb-3">
                        <i class="mdi mdi-monitor h1"></i>
                    </div>
                    <div class="services-desc">
                        <h5 class="mb-2 font-weight-light"><a href="#" class="text-dark">Digital Design</a></h5>
                        <p class="text-muted f-14">Ut tincidunt tincidunt Etiam feugiat lorem non metus estibulum dapi nunc augue Curabitur vestibulum aliquam Praesent egestas.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="services-box mt-4">
                    <div class="service-icon mb-3">
                        <i class="mdi mdi-image-filter-center-focus h1"></i>
                    </div>
                    <div class="services-desc">
                        <h5 class="mb-2 font-weight-light"><a href="#" class="text-dark">Dynamic Growth</a></h5>
                        <p class="text-muted f-14">Donec pede justo fringilla vel aliquet at vulputate eget arcu In enim justo rhoncus ut imperdiet a venenatis vitae justo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SERVICE END -->
<!-- SERVICE INFORMATION START -->
<section class="section bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#">
                            <div class="service-info-img mt-4">
                                <img src="/Public/images/service/img-1.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                <div class="service-overlay">
                                    <div class="service-info text-center">
                                        <h5 class="font-weight-light mb-0 text-white">Clean Design</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="#">
                            <div class="service-info-img mt-4">
                                <img src="/Public/images/service/img-2.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                <div class="service-overlay">
                                    <div class="service-info text-center">
                                        <h5 class="font-weight-light mb-0 text-white">Clean Design</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <a href="#">
                            <div class="service-info-img mt-4">
                                <img src="/Public/images/service/img-3.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                <div class="service-overlay">
                                    <div class="service-info text-center">
                                        <h5 class="font-weight-light mb-0 text-white">Clean Design</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="#">
                            <div class="service-info-img mt-4">
                                <img src="/Public/images/service/img-4.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                <div class="service-overlay">
                                    <div class="service-info text-center">
                                        <h5 class="font-weight-light mb-0 text-white">Clean Design</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="p-2 mt-4">
                    <h3 class="text-dark font-weight-light">Service Information</h3>
                    <p class="text-muted mb-2 f-15">Felis quis tortor malesuada pretium pellentesque auctor neque nec urna at sapien ipsum porta, auctor quis euismod aenean viverra rhoncus pede Pellentesque habitant morbi tristique.</p>
                    <div class="job-details-desc-item">
                        <div class="float-left mr-2">
                            <i class="mdi mdi-chevron-right text-muted f-16"></i>
                        </div>
                        <p class="text-muted f-14 mb-1">Aenean tellus metus bibendum sed posuere nunc.</p>
                    </div>

                    <div class="job-details-desc-item">
                        <div class="float-left mr-2">
                            <i class="mdi mdi-chevron-right text-muted f-16"></i>
                        </div>
                        <p class="text-muted f-14 mb-1">Integer ante arcu consectetuer eget posuere ut mauris.</p>
                    </div>

                    <div class="job-details-desc-item">
                        <div class="float-left mr-2">
                            <i class="mdi mdi-chevron-right text-muted f-16"></i>
                        </div>
                        <p class="text-muted f-14 mb-1">Donec mollis nec justo pellentesque facilisis.</p>
                    </div>

                    <div class="job-details-desc-item">
                        <div class="float-left mr-2">
                            <i class="mdi mdi-chevron-right text-muted f-16"></i>
                        </div>
                        <p class="text-muted f-14 mb-1">Curabitur aliquam Praesent egestas neque eu enim.</p>
                    </div>

                    <div class="job-details-desc-item">
                        <div class="float-left mr-2">
                            <i class="mdi mdi-chevron-right text-muted f-16"></i>
                        </div>
                        <p class="text-muted f-14 mb-0"> Praesent massa at ligula laoreet iaculis.</p>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="btn btn-outline">Read More <i class="mdi mdi-chevron-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SERVICE INFORMATION END -->
<!-- subscribe start -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="float-left position-relative notification-icon mr-2">
                    <i class="mdi mdi-bell-outline text-custom h2"></i>
                    <span class="badge badge-pill badge-danger">1</span>
                </div>
                <h5 class="mt-2 mb-0">Your Job Notification</h5>
            </div>
            <div class="col-lg-8">
                <div class="subscribe">
                    <form>
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Enter your E-mail address">
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-custom">Subscribe Us</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe end -->
